.card {
text-align: center;
width: 18%;
margin: 13px auto;
padding: 6px 12px;
margin-top: 30px;
background: #1b1c1d;
}

.pForm {
  width: 10%;
  margin: 25px auto;
  padding: 13px;
  border: none;
  margin-left: 10px;
  border-radius: 30px;
}

.bgdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1b1c1d;
  margin: auto;
  text-align: center;
}

.container2 {
  background: #1b1c1d;
}

.j2 {
background: #1b1c1d;  
}

.btn {
  width: 12rem;
  margin-top: 30px;
  border-radius: 60px;
  border: none;
}

.btn2 {
  border: none;
  border-radius: 40px;
  width: 10rem;
  height: 3rem;
  right:0;
  position:absolute;
  margin: 55px;
  top: 0;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}



@media (max-width: 1290px) {
  .card {
    text-align: center;
    width: 35%;
    margin: 13px auto;
    padding: 6px 12px;
    margin-top: 30px;
    background: #1b1c1d;
    }
    .pForm {
      width: 40%;
      margin: 25px auto;
      padding: 13px;
      border: none;
      margin-left: 10px;
      border-radius: 30px;
    }
    .btn2 {
      border: none;
      border-radius: 40px;
      width: 5rem;
      margin: auto;
    }
    .bgdiv {
      position: absolute;
      width: 100%;
      height: 150%;
      background: #1b1c1d;
      margin: auto;
      text-align: center;
    }
    .lds-facebook {
    display: none;   
  }
    .lds-facebook div {
    display: none;   
  }

}




/* carregamento 1 */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-ring div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-ring div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-ring div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-ring div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-ring div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-ring div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-ring div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-ring div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-ring div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-ring div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-ring div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-ring div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-ring div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-ring div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* carregamento 2 */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  background: #1b1c1d;
  height: 80px;
}
.lds-facebook div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation: lds-facebook1 0.6s infinite;
}
.lds-facebook div:nth-child(2) {
  left: 8px;
  animation: lds-facebook2 0.6s infinite;
}
.lds-facebook div:nth-child(3) {
  left: 32px;
  animation: lds-facebook2 0.6s infinite;
}
.lds-facebook div:nth-child(4) {
  left: 56px;
  animation: lds-facebook3 0.6s infinite;
}
@keyframes lds-facebook1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-facebook3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-facebook2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


