<div class="bgdiv">
  <form novalidate [formGroup]="formNomes">
    <div
      class="jumbotron jumbotron-fluid text-light bg-dark"
      style="padding: 10px"
    >
      <div class="container">
        <h1 class="display-4">Gerador de Grupos</h1>
        <button
          type="button"
          class="btn2 btn-success"
          (click)="randomizeGroups()"
        >
          Gerar grupos
        </button>
        <p class="lead">
          Gere dois grupos aleatórios e sorteie entre eles o primeiro a comer
        </p>
      </div>
    </div>

    <div *ngIf="vezesGerado > 0" class="text-light">
      Vezes geradas: {{ vezesGerado }}
    </div>

    <div class="form-group text-light">
      <input
        class="pForm bg-dark text-light"
        type="text"
        [(ngModel)]="nomes[0]"
        formControlName="n1"
        required
      />
      <input
        class="pForm bg-dark text-light"
        type="text"
        [(ngModel)]="nomes[1]"
        formControlName="n2"
        required
      />
      <input
        class="pForm bg-dark text-light"
        type="text"
        [(ngModel)]="nomes[2]"
        formControlName="n3"
        required
      />
      <input
        class="pForm bg-dark text-light"
        type="text"
        [(ngModel)]="nomes[3]"
        formControlName="n4"
        required
      />
    </div>
  </form>

  <div *ngIf="loading == true">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="text-light">Gerando grupos..</div>
  </div>

  <div *ngIf="grupo1.length == 2">
    <div class="card border-light text-light">
      <div class="card-body">
        <h5 class="card-title">Grupo 1</h5>
        <p class="card-text">{{ grupo1[0] }} e {{ grupo1[1] }}</p>
      </div>
      <div class="text-muted" *ngIf="grupo1Wins > 0">
        Wins: {{ grupo1Wins }}
      </div>
    </div>
  </div>

  <div *ngIf="grupo2.length == 2">
    <div class="card border-light text-light">
      <div class="card-body">
        <h5 class="card-title">Grupo 2</h5>
        <p class="card-text">{{ grupo2[0] }} e {{ grupo2[1] }}</p>
      </div>
      <div class="text-muted" *ngIf="grupo2Wins > 0">
        Wins: {{ grupo2Wins }}
      </div>
    </div>
  </div>

  <div *ngIf="loadingRes == true">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="text-light">Calculando vencedor...</div>
  </div>

  <div *ngIf="primeiroGrupo != ''" class="text-light">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead mt-3">E o grupo vencedor é:</p>
        <h3 class="display-4">{{ primeiroGrupo }}</h3>
        <button type="button" class="btn btn-dark" (click)="firstGroupToEat()">
          Gerar novamente
        </button>
      </div>
    </div>
  </div>
</div>
