

<div class="bgdiv">
  <div class="jumbotron jumbotron-fluid text-light bg-dark" style="padding: 10px;">
    <div class="container">
      <h1 class="display-4">Gerador de Grupos</h1>
      <button type="button" class="btn2 btn-success" (click)="randomizeGroups()">Gerar grupos</button>
      <p class="lead">Gere dois grupos aleatórios e sorteie entre eles o primeiro a comer</p>
    </div>



  </div>

  <div class="form-group text-light">
    <input class="pForm bg-dark text-light" type="text" [(ngModel)]="nomes[0]">
    <input class="pForm bg-dark text-light" type="text" [(ngModel)]="nomes[1]">
    <input class="pForm bg-dark text-light" type="text" [(ngModel)]="nomes[2]">
    <input class="pForm bg-dark text-light" type="text" [(ngModel)]="nomes[3]">
  </div>

  <div class="text-muted">Vezes geradas: {{vezesGerado}}</div>

  <div *ngIf="grupo1.length == 2">
    <div class="card border-light text-light">
      <div class="card-body">
        <h5 class="card-title">Grupo 1</h5>
        <p class="card-text">{{grupo1}}</p>

      </div>
      <div class="text-muted" *ngIf="grupo1Wins > 0">Wins: {{grupo1Wins}}</div>
    </div>
  </div>

  <div *ngIf="grupo2.length == 2">
  <div class="card border-light text-light">
    <div class="card-body">
      <h5 class="card-title">Grupo 2 </h5>
      <p class="card-text">{{grupo2}}</p>
    </div>
    <div class="text-muted" *ngIf="grupo2Wins > 0">Wins: {{grupo2Wins}}</div>
  </div>
</div>

<div *ngIf="primeiroGrupo != ''" class="text-light">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">O primeiro grupo a comer será:</p>
      <h3 class="display-4">{{primeiroGrupo}}</h3>
      <button type="button" class="btn btn-dark" (click)="firstGroupToEat()">Gerar</button>
    </div>
  </div>
</div>

<hr class="mb-3">





</div>
